body {
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;

}

h3 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-top: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    padding-left: 2%;


}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/back2.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/back4.png);
    background-repeat: no-repeat;
    background-position: left;


}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px grey;
    border-right: 7px solid orange;
}

footer {
    text-align: center;
}